<div class="center">

  <div class="header-box">
    <button id="drop-button">Drop</button>
    <span class="counters">Sum</span>
    <span class="counters"></span>
    <span class="counters">Score</span>
    <span id="sum" class="counters">0</span>
    <span class="counters"></span>
    <span id="score" class="counters">0</span>
  </div>

  <div id="balls"></div>

</div>