// Place all the styles related to the balls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

%ball-format {
  border-radius: 50%;
  width: 2.55em;
  height: 2.55em;
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.pink {
  background: pink;
  @extend %ball-format;
}

.green {
  background: green;
  @extend %ball-format;
}

.blue {
  background: blue;
  @extend %ball-format;
}

.purple {
  background: purple;
  @extend %ball-format;
}


.center {
  margin: auto;
  width: 35%;
  padding: 15px;
  text-align: center;
}

#drop-button {
  clear: both;
  display: block;
  margin: auto;
}

.counters {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.header-box {
  height: 75px;
  background: #cfcfcf;
  padding: 0.7em;
}

#balls{
  height: 400px;
  overflow: auto;
}