<!DOCTYPE html>
<html>
  <head>
    <title>Gigoia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
